<section class="scroll-mt-24 min-h-screen flex items-center justify-center bg-gray-950 text-gray-100">
  <div class="max-w-3xl px-6 text-center space-y-6">

    <h1 class="text-4xl md:text-6xl font-bold tracking-tight">
      Hola, soy <span class="text-indigo-400">Juan</span>
    </h1>

    <p class="text-lg md:text-xl text-gray-300">
      Backend developer especializado en Java & Spring,
      explorando frontend con Angular.
    </p>

    <div class="flex justify-center gap-4 pt-4">
      <button
       (click)="onShowProjects()"
       class="px-6 py-3 rounded-xl bg-indigo-500 hover:bg-indigo-400 transition text-white font-medium"
      >
        Ver proyectos
      </button>

      <a
        href="#about"
        class="px-6 py-3 rounded-xl border border-gray-600 hover:border-gray-400 transition"
      >
        Sobre mí
      </a>
    </div>

   @if (showProjects){
    <app-projects></app-projects>
  } 
    
  </div>
</section>